@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #38e0dc;
}
body{
font-family: "Montserrat", sans-serif;
margin: 0px;
}
hr{
    margin: 1rem 0rem;
}
.p-size{
    font-weight:500;
    font-size: medium;
}
.container{
    padding:0rem 1rem;
}
.container-center{
    max-width:600px;
    margin:auto;
}
.link{
    text-decoration: none;
}
.primary-link{
    display: inline-block;
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color:white;
    padding:0.5rem 1rem;
    margin:1rem 0rem;
    font-weight: 500;
}
.secondary-link{
    display: inline-block;
    color: var(--primary-color);
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);
    padding:0.5rem 1rem;
    margin:1rem 0.5rem;
    font-weight: 500;
}
.list{
    list-style: none;
}
.list-item-inline{
    display: inline;
    margin:0rem 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    border-bottom-left-radius: 1rem;
}
.nav-brand{
    font-weight: bold;
}
.nav-pills{
    text-align:right
}
.lin{
    text-decoration: none;
    color:white
}
.link-active{
    font-weight: bold;
}
.hero{
    padding:2rem;
    margin:1rem 0rem;
}
.hero-img{
    max-width:300px;
    display:block;
   margin:auto;
}
.hero-heading{
    font-size: 2rem;
    text-align: center;
}
.hero-heading-highlighted{
    color: var(--primary-color);
}
.ow{
    background-color:#e5e5e5;
}
.section{
    padding:2rem;
}
.section h1{
    text-align: center;
}
.footer{
    background-color: var(--primary-color   );
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
}
.footer ul{
    padding-inline-start:0px;
}
.footer .link{
    color:white;
}
.footer .footer-header{
    font-weight:bold;
    font-size: large;
}
/* styling for project page */
.projects{
    margin:1rem;
}